{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">{{ 'Register'|trans }}</button>
    {{ form_end(form) }}
{% endblock body %}
