<table>
    <tr>
        <th>{{ advertisement.title }}</th>
    </tr>
    <tr>
        <td>{{ 'By user'|trans }} <b>{{ advertisement.user.username }}</b></td>
    </tr>
    <tr>
        <td>{{ 'Posted'|trans }} <b>{{ advertisement.postingDate|date('Y-m-d H:i:s') }}</b></td>
    </tr>
    <tr>
        <td>{{ advertisement.description }}</td>
    </tr>
</table>
