{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn-success" value="{{ 'Submit'|trans }}" />
    {{ form_end(form) }}
{% endblock body %}
