{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for advertisement in advertisements %}
            <div class="col-6 border">
                {% include 'advertisement/advertisement.html.twig' with {'advertisement': advertisement} %}
            </div>
        {% endfor %}
    </div>
{% endblock body %}
