<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Advertisements{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <h1>{{ 'Advertisements'|trans }}</h1>
            <div class="float-left w-25">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('home') }}">
                            {{ 'Main page'|trans }}
                        </a>
                    </li>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="{{ path('view_user_advertisements') }}">
                                {{ 'View my advertisements'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('create_advertisement') }}">
                                {{ 'Create new advertisement'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}">
                                {{ 'Logout'|trans }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('register') }}">
                                {{ 'Register'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('login') }}">
                                {{ 'Login'|trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="float-left w-75">
                {% block body %}
                {% endblock %}
            </div>
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
